@import "vars";
@import 'fonts';

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;

	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;

	color: $defaultTextColor;
	background-color: $backgroundColor;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	$headerHeight: 64px;
	height: $headerHeight;
	line-height: $headerHeight;

	background-color: $headerBackground;

	.logo {
		display: flex;
		flex-direction: row;

		padding: 0 24px 0 16px;
		font-size: 32px;
		color: $defaultTextColor;

		&:hover {
			color: lighten($defaultTextColor, 10%);
		}

		img {
			width: $headerHeight;
			height: $headerHeight;
			margin-right: 16px;
		}
	}

	nav {
		ul {
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 0;

			font-size: 20px;

			li {
				list-style: none;

				a, button {
					position: relative;
					height: 64px;
					margin: 0;
					padding: 0 24px;

					display: flex;
					flex-direction: row;
					align-items: center;

					&:hover, &:active {
						&:not(button) {
							background-color: rgba(255, 255, 255, 0.07);
						}

						.tip {
							visibility: visible;
							opacity: 1;
							transition: opacity ease-out 100ms;
							transition-delay: 150ms;
						}
					}

					.feather {
						--icon-size: 24px;
					}
				}

				button {
					margin: 8px;
					padding: 24px;
					height: 32px;

					.feather {
						margin-right: 0;
					}

					.tip {
						text-transform: initial;
						font-weight: initial;
					}
				}

				form {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0;
				}
			}
		}

		#menu-button {
			display: none;
		}
	}

	@media (max-width: $menuLayoutSwitchTreshold) {
		flex-direction: row-reverse;

		.logo {
			padding: 0 16px 0 8px;
			font-size: 24px;

			img {
				margin-right: 8px;
			}
		}

		nav {
			#menu-button {
				display: block;
				margin: 0;
				padding: 0 16px;
				line-height: $headerHeight;

				cursor: pointer;
				background: transparent;
				border-radius: 0;

				.feather {
					--icon-size: 28px;
					margin: 0 8px;
				}
			}

			ul {
				flex-direction: column;
				position: absolute;
				z-index: 10;
				left: 0;
				transform: translateX(-100%);
				transition: transform ease-out 150ms;

				background-color: $headerBackground;

				&.open {
					transform: translateX(0%);
				}

				li {
					a, button {
						.tip {
							display: block;
							margin-left: 8px;
							text-transform: inherit;
							font-weight: inherit;
						}
					}
				}
			}
		}
	}

	@media (min-width: $menuLayoutSwitchTreshold) {
		nav ul li {
			a, button {
				.tip {
					visibility: hidden;
					position: absolute;
					display: block;
					width: max-content;
					height: 30px;
					padding: 4px 8px;
					line-height: 22px;
					top: calc(100% + 8px);
					left: 50%;
					transform: translateX(-50%);

					text-align: center;
					font-size: 18px;
					color: $defaultTextColor;
					opacity: 0;
					transition: opacity ease-out 100ms, visibility step-end 150ms;
					transition-delay: 0ms;
					background-color: #000;
					border-radius: 5px;
				}
			}

			&:last-child {
				a, button {
					.tip {
						left: unset;
						right: 4px;
						transform: none;
					}
				}
			}
		}
	}
}

footer {
	padding: 8px;
	margin-top: 8px;
	text-align: center;
	background-color: $footerBackground;
}

main {
	flex: 1;
	padding: 8px;
}

h1 {
	text-align: center;
	font-size: 32px;

	& + p {
		text-align: center;
		font-size: 20px;
	}
}

h1, h2 {
	font-weight: 100;
}

h3, h4 {
	font-weight: 300;
}

section > h2, .panel > h2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	text-align: center;
	margin-top: 16px;

	&::before, &::after {
		content: "";
		flex: 1;
		margin: 0 32px;
		height: 0;
		border-bottom: 1px solid $defaultTextColor;
		opacity: 0.2;
	}
}

section > hr, .panel > hr {
	border: 0;
	border-bottom: 1px solid $defaultTextColor;
	opacity: 0.2;

	margin: 8px 32px;
}

a {
	color: $secondary;
	text-decoration: none;

	&:hover {
		color: lighten($secondary, 5%);
	}

	.feather.feather-external-link {
		--icon-size: 16px;
		margin-left: 4px;
		margin-top: -3px;
	}
}

form {
	padding: 8px 16px;
	text-align: center;

	.form-field {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 16px auto;

		label {
			position: absolute;
			left: 8px;
			top: 20px;
			user-select: none;
			font-size: 16px;
			opacity: 0.75;

			transition-property: top, font-size;
			transition-duration: 150ms;
			transition-timing-function: ease-out;

			cursor: text;
		}

		[disabled] {
			opacity: 0.5;

			& ~ label {
				opacity: 0.5;
				cursor: default;
			}
		}

		input, select, .input-group {
			border: 0;
			color: $defaultTextColor;
			background: lighten($panelBackground, 4%);
			border-radius: 5px;
			font-size: 16px;

			&:focus, &:not([value=""]), &[type="file"] {
				~ label {
					top: 8px;
					font-size: 14px;
				}
			}
		}

		input, select, .form-display {
			display: block;
			padding: 32px 8px 8px 8px;
			width: 100%;
		}

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			&::-ms-expand {
				display: none;
			}

			& + .feather {
				position: absolute;
				z-index: -1;
				right: 8px;
				bottom: 8px;

				transition: transform 150ms ease-out;
			}

			// Temporary
			&:focus + .feather {
				transform: rotateX(180deg);
			}
		}

		input[type=color] {
			height: calc(32px + 8px + 32px);
		}

		&.inline {
			flex-direction: row;

			input[type=checkbox] {
				text-align: left;
				width: min-content;
				height: min-content;

				& ~ label {
					position: static;
					display: inline;
					padding-left: 8px;
					font-size: 16px;
				}
			}
		}

		.input-group {
			display: flex;
			flex-shrink: 1;
			flex-direction: row;

			div {
				position: relative;
				flex: 1;

				input {
					width: 100%;
					margin-top: 24px;
					padding-top: 8px;
					border: 0;
					background: transparent;
				}

				> input + * {
					position: absolute;
					top: 32px;
					right: 28px;
					user-select: none;
					text-align: right;
				}
			}
		}
	}

	.inline-fields {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 16px auto;

		.form-field {
			flex: 1;
			margin: 0;
		}

		> :not(.form-field) {
			padding: 32px 8px 8px 8px;
		}

		+ {
			.error, .hint {
				margin-top: -16px;
				margin-bottom: 16px;
			}
		}
	}

	.form-field, .inline-fields + {
		.error, .hint {
			padding: 2px;
			text-align: left;
			font-size: 14px;

			.feather {
				--icon-size: 14px;
			}
		}

		.error {
			color: $error;
		}
	}
}

button, .button {
	display: inline-flex;
	margin: 8px;
	padding: 12px 16px;
	border: 0;
	border-radius: 5px;
	cursor: pointer;

	text-transform: uppercase;
	font-size: 16px;
	font-weight: bolder;

	line-height: 16px;

	.feather {
		--icon-size: 16px;
		margin-right: 8px;
	}

	.feather.last {
		margin-right: 0;
		margin-left: 8px;
	}

	&, &.primary {
		color: $primaryForeground;
		background-color: darken($secondary, 10%);

		&:hover {
			background-color: $secondary;
		}
	}

	&.info {
		background-color: $infoColor;
	}

	&.success {
		background-color: $successColor;
	}

	&.warning {
		background-color: $warningColor;
	}

	&.error, &.danger {
		background-color: $errorColor;

		&:hover {
			background-color: lighten($errorColor, 10%);
		}
	}

	&.transparent {
		background-color: transparent;
	}

	&:hover {
		color: $primaryForeground;
	}
}

.data-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;

	th, td {
		padding: 8px;
	}

	th {
		border-bottom: 1px solid #39434a;
	}

	tr:nth-child(even) {
		background-color: rgba(255, 255, 255, 0.03);
	}

	tr:hover {
		background-color: rgba(255, 255, 255, 0.09);
	}

	thead tr:hover {
		background-color: transparent;
	}

	th.shrink-col {
		width: 0;
	}
}

.max-content {
	width: max-content;
}

// ---
// --- Layout helpers
// ---
.center {
	text-align: center;
}

.container {
	padding: 0 16px;
	max-width: 632px;
	margin: 0 auto;
}

.panel {
	margin: 16px 0;
	padding: 8px;
	background-color: $panelBackground;
	border-radius: 5px;

	p {
		margin: 16px 8px;
	}
}

.sub-panel {
	margin: 32px -18px;
	padding: 1px 16px;
	border: 2px solid lighten($panelBackground, 4%);
	border-radius: 5px;
}


// ---
// --- Feather
// ---
.feather {
	flex-shrink: 0;
	--icon-size: 24px;
	width: var(--icon-size);
	height: var(--icon-size);
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: square;
	stroke-linejoin: miter;
	fill: none;
	vertical-align: middle;
}

// ---
// --- Helper classes
// ---
.message {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 8px 16px;

	border-radius: 5px;

	.feather {
		--icon-size: 24px;
		margin-right: 8px;
	}

	&:not(&-discreet) {
		background-color: rgba(255, 255, 255, 0.33);

		&[data-type=info], &[data-type=question] {
			background-color: $infoColor;
		}

		&[data-type=success] {
			background-color: $successColor;
		}

		&[data-type=warning] {
			background-color: $warningColor;
		}

		&[data-type=error] {
			background-color: $errorColor;
		}
	}

	&-discreet {
		color: mix($panelBackground, #fff, 35%);

		.feather {
			--icon-size: 20px;
		}
	}
}

.messages .message:not(:last-child) {
	margin-bottom: 8px;
}

.container > .messages:first-child {
	margin-top: 16px;
}

.copyable-text {
	display: flex;
	flex-direction: row;
	margin: 8px;

	background-color: darken($backgroundColor, 2%);
	border-radius: 5px;
	overflow: hidden;

	.title {
		padding: 8px;
	}

	.content {
		overflow: hidden;
		white-space: nowrap;
		padding: 8px;
	}

	.copy-button {
		margin: 0;
		padding: 0;
		border-radius: 0;

		.feather {
			--icon-size: 20px;
			margin: 8px;
		}
	}
}

.copyable-text {
	display: flex;
	flex-direction: row;
	margin: 8px;

	background-color: darken($backgroundColor, 2%);
	border-radius: 5px;
	overflow: hidden;

	.title {
		padding: 8px;
	}

	.content {
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		padding: 8px;
	}

	.copy-button {
		margin: 0;
		padding: 0;
		border-radius: 0;

		.feather {
			--icon-size: 20px;
			margin: 8px;
		}
	}
}

.hidden {
	display: none;
}

.progress-bar {
	position: relative;
	display: block;
	margin: 8px;
	padding: 4px;
	background: #fff1;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;

	.content {
		position: relative;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: var(--progress);
		height: 100%;
		transition: width ease-out 150ms;

		background: $secondary;
	}
}
