{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - About us' %}

{% block body %}
    <h1>Self-hosting files</h1>

    <div class="container">
        <section class="panel">
            <h2>Details</h2>
            <p class="center">Powered by wms-core</p>
        </section>
    </div>
{% endblock %}