{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - File upload' %}

{% block scripts %}
    <script src="/js/fm.js"></script>
{% endblock %}

{% block body %}
    <h1>Upload files</h1>
    <p>(except illegal ones)</p>

    <div class="container">
        <section class="panel">
            <h2>Upload a file</h2>

            <form action="{{ route('post-file-frontend') }}" method="POST" enctype="multipart/form-data"
                  id="upload-form">
                {{ macros.field(_locals, 'file', 'upload', '', 'Choose wisely', 'The maximum upload size is ' + max_upload_size + 'MiB', validation_attributes='required') }}

                {{ macros.field(_locals, 'number', 'expire_after_days', '30', 'How many days to delete this file after', null, validation_attributes='max="1825"') }}
                {{ macros.field(_locals, 'checkbox', 'never_expire', '', 'Never delete this file') }}

                {{ macros.field(_locals, 'text', 'slug', '', 'Custom url slug', 'Example: beautiful_image.jpg sets url to https://'+default_domain+'/beautiful_image.jpg', validation_attributes='disabled') }}
                {{ macros.field(_locals, 'checkbox', 'autogen_url', '', 'Generate url automatically', null, validation_attributes='checked') }}

                {{ macros.csrf(getCSRFToken) }}

                <button type="submit"><i data-feather="upload"></i> Upload</button>
            </form>

            <div id="file-upload" class="hidden">
                <div class="name">photo.jpg</div>
                <div class="progress-bar" style="--progress: 50%;"><span class="content">50%</span></div>
                <div class="status hidden"></div>
            </div>

            <div id="file-upload-link" class="hidden copyable-text">
                <div class="title">URL</div>
                <div class="content"></div>
                <button class="copy-button"><i data-feather="copy"></i></button>
            </div>

            {% set url = flash('url') %}
            {% if url | length %}
                <div class="copyable-text">
                    <div class="title">URL</div>
                    <div class="content">{{ url }}</div>
                    <button class="copy-button"><i data-feather="copy"></i></button>
                </div>
            {% endif %}
        </section>
    </div>

    {% include 'desktop-utility.njk' %}
{% endblock %}