{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - URL manager' %}

{% block scripts %}{% endblock %}

{% block body %}
    <h1>URL manager</h1>
    <p>These are permanent.</p>

    <section class="panel">
        <h2>URL list</h2>
        <table class="data-table">
            <thead>
            <tr>
                <th>#</th>
                <th>URL</th>
                <th>Target</th>
            </tr>
            </thead>

            <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>
                        <div class="copyable-text">
                            <a class="content" href="{{ url.getURL() }}" target="_blank">{{ url.getURL() }}</a>
                            <button class="copy-button"><i data-feather="copy"></i></button>
                        </div>
                    </td>
                    <td>{{ url.target_url }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}