{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - URL shrinker' %}

{% block scripts %}
    <script src="/js/url-shrinker.js"></script>
{% endblock %}

{% block body %}
    <h1>Shrink URLs</h1>
    <p>(no phishing allowed)</p>

    <div class="container">
        <section class="panel">
            <h2>Shrink a URL</h2>

            <form action="{{ route('shrink-url') }}" method="POST" id="url-shrink-form">
                {{ macros.field(_locals, 'text', 'target_url', '', 'Target URL', 'Only valid URLs starting with http:// or https://', validation_attributes='required') }}

                {{ macros.field(_locals, 'text', 'slug', '', 'Custom url slug', 'Example: bear sets url to https://'+default_domain+'/bear', validation_attributes='disabled') }}
                {{ macros.field(_locals, 'checkbox', 'autogen_url', '', 'Generate url automatically', null, validation_attributes='checked') }}

                {{ macros.csrf(getCSRFToken) }}

                <button type="submit"><i data-feather="link"></i> Shrink URL</button>
            </form>

            {% set url = flash('url') %}
            {% if url | length %}
                <div class="copyable-text">
                    <div class="title">URL</div>
                    <div class="content">{{ url }}</div>
                    <button class="copy-button"><i data-feather="copy"></i></button>
                </div>
            {% endif %}
        </section>
    </div>

    {% include 'desktop-utility.njk' %}
{% endblock %}